.pg-password-strength-tip {
  display: flex;
  flex-direction: column;

  &-title {
    padding-bottom: 5px;
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 12px;

  }

  &-text {
    color: var(--primary-text-color);
    opacity: 0.72;
    padding-bottom: 2px;
    font-weight: 400;
    font-size: 12px;
  }
}
