.input-group-text {
    border: none !important;
    border-top-left-radius: 12px !important;
    border-bottom-left-radius: 12px !important;
    background-color: var(--input-background-color) !important;
    white-space: nowrap;
    font-size: 1.5rem ;
    font-weight: 200;
    color: var(--input-text-color) !important;
}

.pg-captcha--geetest {
    display: flex !important;
    justify-content: center !important;
    text-align: center !important;
    align-items: center !important;

}

.geetest_radar_btn {

    border-radius: 10px !important;

}

.home-market__trading-btn {
    background: transparent;
    border: 1px solid #009991;
    border-radius: 5px;
    box-sizing: border-box;
    color: #c4c4c4;
    float: right;
    height: 36px;
    outline: none;
    width: 8em;
}

.home-market__trading-btn:hover {
    color: #1EDED0;
    transition: 0.4s;
}


.footerDesktop-screen {
    background: var(--subheader-background-color);
    color: var(--secondary-contrast-cta-color);

    .container-footer-screen {
		margin: 0 20px;
	}

    button {

        border-radius: 4px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 10px;
        margin-bottom: -5px;

    }
	
    
}
    
    
    @media screen and (min-width: 1200px) {.footerDesktop-screen .container-footer-screen {
			margin: 0 10%
	}
		}.footerDesktop-screen .footer {
		padding-bottom: 20px;
		padding-top: 45px;
	}.footerDesktop-screen .footer__logo__img:hover img {
						-webkit-transform: translateY(10px);
						        transform: translateY(10px);
						transition: all 0.5s;
					}.footerDesktop-screen .footer__logo__desc {
				color: rgba(255, 255, 255, 0.7);
				max-width: 100px;
				padding-top: 20px;
			}.footerDesktop-screen .footer__info__title {
				font-size: 18px;
				font-weight: 500;
				letter-spacing: 0.5px;
			}.footerDesktop-screen .footer__info__item__icon {
					margin-right: 10px;
				}.footerDesktop-screen .footer__info__item a {
					color: rgba(255, 255, 255, 0.7);
				}.footerDesktop-screen .footer__info__item a:hover {
						color: white;
						transition: all 0.4s;
					}.footerDesktop-screen .footer__info__item link {
					color: rgba(255, 255, 255, 0.7);
				}.footerDesktop-screen .footer__info__item link:hover {
						color: white;
						transition: all 0.4s;
					}.footerDesktop-screen .footer__info__item {

				color: rgba(255, 255, 255, 0.7);
				padding-bottom: 2px;
}.footerDesktop-screen .footer__info__item:hover {
					color: #f5f5f5;
					transition: all 0.4s;
				}.footerDesktop-screen .footer__news__title {
				font-size: 18px;
				font-weight: 500;
				letter-spacing: 0.5px;
			}.footerDesktop-screen .footer__news__take-email {
                height: 84px;
			}.footerDesktop-screen .footer__news__take-email__label {
					color: rgba(255, 255, 255, 0.7);
				}.footerDesktop-screen .footer__news__take-email__input::-webkit-input-placeholder {
						color: #f5f5f5;
						opacity: 0.7;
					}.footerDesktop-screen .footer__news__take-email__input::placeholder {
						color: #f5f5f5;
						opacity: 0.7;
                        font-size: 13px !important;
					}.footerDesktop-screen .footer__news__take-email__input {

					background-color: transparent;
                    border: none !important;
					border-bottom: 1px solid #1EDED0 !important;
					border-radius: 0px;
					color: #f5f5f5;
					height: 40px;
					outline: none;
					padding-left: 10px;
					width: 300px;
}.footerDesktop-screen .footer__news__take-email__btn {
					background: linear-gradient(95deg, var(--color-white) 25%, #009991 45%, #009991 75%, #1EDED0 100%) 95%/200% 100% !important;
					border-radius: 5px;
                    color: #fff;
					cursor: pointer;
					margin-left: 15px;
					padding: 9.5px;
              
                    height: 40px;
                    opacity: 0.9;
				}.footerDesktop-screen .footer__news__take-email__btn:hover {
						webkit-filter: brightness(115%);
						transition: all 0.3 ease-out;
					}.footerDesktop-screen .footer__news__list-icon {
				align-items: center;
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
			}.footerDesktop-screen .footer__news__list-icon a {
					outline: none;
					text-decoration: none;
				}.footerDesktop-screen .footer__news__list-icon__item a {
						color: white;
						outline: none;
						text-decoration: none;
					}.footerDesktop-screen .footer__news__list-icon__item {

					font-size: 40px;
					padding-right: 20px;
}.footerDesktop-screen .footer__news__list-icon__item:hover {
						-webkit-transform: translateY(10px);
						        transform: translateY(10px);
						transition: all 0.4s ease-out;
					}.footerDesktop-screen .footer__copyright {
			font-size: 13px;
			padding-bottom: 0.8rem;
			padding-top: 0.8rem;
			text-align: center;
		}.footerDesktop-screen .footer__copyright a {
				color: white;
				font-size: 13px;
				outline: none;
				text-decoration: none;
			}.footerDesktop-screen .fortem-line {
		border-bottom: 0.1px solid #1EDED0;
	}.footerDesktop-screen .white-line {
        display: flex;
        height: 1px;
        width: 100%;
        background: linear-gradient(90deg, rgba(224, 225, 226, 0) 0%, rgb(224, 225, 226) 47.22%, rgba(224, 225, 226, 0.157) 94.44%);
    }.footerDesktop-screen .fortem-line-gradient {
        display: flex;
        height: 1px;
        width: 100%;
        background: linear-gradient(90deg, #009991 0%, #1EDED0  47.22%, rgba(224, 225, 226, 0.157) 94.44%);
    }@media screen and (max-width: 900px) {.footerDesktop-screen {
		font-size: 14px
}

		.footerDesktop-screen .footer__info__title {
			font-size: 17px;
		}

		.footerDesktop-screen .footer__news__title {
			font-size: 17px;
		}

		.footerDesktop-screen .footer__news__take-email__input {
			padding-left: 5px;
			width: 120px;
		}

		.footerDesktop-screen .footer__news__list-icon__item {
			font-size: 30px;
		}
	}@media screen and (max-width: 800px) {.footerDesktop-screen {
		font-size: 12px
}

		.footerDesktop-screen .footer__info__title {
			font-size: 15px;
		}

		.footerDesktop-screen .footer__news__title {
			font-size: 15px;
		}

		.footerDesktop-screen .footer__news__take-email__input {
			width: 150px;
		}
	}img {
	margin-right: 5px;
}.pg-logo__img {
	height: 128px;
	width: 128px;
}