.input-group-text {
    border: none;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: var(--input-background-color) !important;
    white-space: nowrap;
    font-size: 1.5rem ;
    color: var(--input-text-color) !important;
}
.input-group-text::active {
    border: none;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: var(--input-background-color-active) !important;
    white-space: nowrap;
    color: var(--input-text-color) !important;
}
