@import "./fonts.pcss";
@import "./themes/style.pcss";
@import "./colors.pcss";

:root {
 
    a {
        color: var(--primary-text-color);
    }

    a:active, a:focus, a:hover {
        color: var(--button-primary-cta-background-color);
        text-decoration: none;
    }

}